/google fonts/ 
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,200&display=swap');
*{ 
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    scroll-padding-top:2rem;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;

}
:root{
    --main-color:#2A3A61;
    --text-color:#54719B;
}
section{
    padding: 50px 10%;

}
img{
    width: 100%;
}
body{
    color: var(--text-color);
}
*::selection{
    color: #85A3C5;
    background:var(--main-color);
}
/* custom scroll bar */
html::-webkit-scrollbar(
    width: 0.5rem; 
)
html::-webkit-scrollbar-track{
    background:transparent; 
}
html::-webkit-scrollbar-track{
    background:var(--main-color); 
    border-radius: 5rem;
}
header {
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #fff;
    padding: 18px 10%;
    transition: 0.2s;
}
.logo{
    font-size: 1.1rem;
    font-weight: 600;
    color:var(--text-color);
}
.navbar {
    display:flex; 
}
.navbar a {
    font-size: 1rem;
    padding: 10px 20px;
    color: var(--text-color);
    font-weight: 500;
}
.navbar a:hover {
    background: var(--text-color);
    color: #fff;
}
#menu-icon{
    font-size: 24px;
    cursor: pointer;
    z-index: 10001;
    display: none;
}
.home{
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(17rem, 1fr));
    align-items: center;
    gap: 1.5rem;
}
.home-text span{
    font-size: 1.4rem;
    font-weight: 600;
}
.home-text h1{
    font-size: 3.4rem;
    color: var(--main-color);
}
.home-text h2{
    font-size: 1.6rem;
    font-weight: bolder;
}
.home-text p {
    font-weight: 400;
    margin: 0.7rem 0 1rem;
}
.btn {
    display: inline-block;
    background: var(--main-color);
    padding: 0.8rem 2rem;
    color: #fff;
    font-weight: 500;
}
.btn:hover{
    background: var(--main-color);
    letter-spacing: 2px;
    transition: 0.2s;
}
.about{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(17rem, 1fr));
    gap: 1.5rem;
}
.about-title{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.about-title h1{
    color: var(--main-color);
    font-size: 1.7rem;
}
.about-title span {
    border-bottom: 3px solid var(--main-color);
}
.about-title h2{
    font-size: 1rem;
    font-weight: 500;
}
.social {
    display: flex;
    align-items: center;
    margin-top: 1rem;
}